<template>
  <div class="my-list">
    <div v-for="hotel in this.orderedHotelsByDistance">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="card-title">{{hotel.l1_declaree}}</h6>
            <p class="distance">{{hotel.distance}} km</p>
          </div>
          <hr/>
        <div>
          <p class="address">{{hotel.geo_adresse}}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "List",
  components: {

  },
  data() {
    return {
      lHotels: [],
      distancedHotels: [],
      orderedHotelsByDistance: []
    };
  },
  mounted() {
    this.$root.$on('center-event', () => {
        this.lHotels = this.$parent.hotels
        let myHotels = this.lHotels[0]

        myHotels.forEach(hot => {
          let distance = this.distance(hot.latitude, hot.longitude, this.$parent.location.lat, this.$parent.location.lng, "K")
          hot.distance = distance.toFixed(2)
          this.distancedHotels.push(hot);
        });
        this.orderedHotelsByDistance = this.sortHotels(this.distancedHotels)
    })
  },
  methods: {
    distance(lat1, lon1, lat2, lon2, unit) {
	    if ((lat1 == lat2) && (lon1 == lon2)) {
		    return 0;
	    }
	    else {
		    var radlat1 = Math.PI * lat1/180;
        var radlat2 = Math.PI * lat2/180;
        var theta = lon1-lon2;
        var radtheta = Math.PI * theta/180;
        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        if (dist > 1) {
          dist = 1;
        }
        dist = Math.acos(dist);
        dist = dist * 180/Math.PI;
        dist = dist * 60 * 1.1515;
        if (unit=="K") { dist = dist * 1.609344 }
        if (unit=="N") { dist = dist * 0.8684 }
        return dist;
      }
    },
    sortHotels(array) {
      return array.sort((a,b) => a.distance - b.distance)
    },
  }
};
</script>

<style scoped>
    .my-list {
        height: 91.5vh;
        width: 100%;
        padding: 20px 0 20px 0;
        overflow-y: scroll;

        /* border-top */
        /* border-top: solid 2px lightgray; */
        /* box-shadow */
        background: lightgray;
        -webkit-box-shadow: inset 0px 0px 16px 0px grey !important;
    }
    .card {
      margin: 3px;
    }
    .card-title {
      text-align: left;
      font-weight: 700;
      margin-bottom: 0;
    }
    .distance {
      margin-left: 100px;
    }
    .card-body > hr {
      margin: 0;
      padding: 0;
    }
    .address {
      margin-top: 5px;
    }
</style>
