<template>
  <div style="display: flex; height: 100%; width: 100%">
    <div style="height: 100%; width: 70%">
        <simple ref="myMapRef"></simple>
    </div>
    <div style="height: 100%; width: 30%">
        <h1 style="color: #50C878">MapOtel</h1>
        <list ref="myListRef"></list>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Simple from "./map/Simple";
import List from "./list/List";

export default {
  name: 'Home',
  components: {
      Simple,
      List
  },
  props: {
    
  },
  data () {
    return {
        location: '',
        hotels: []
    };
  },
  beforeMount() {
      
  },
  mounted() {
      this.location = this.$refs.myMapRef.center
      this.$root.$on('center-event', () => {
        this.retrieveHotelsNearPoint()
    })
  },
  methods: {
    retrieveHotelsNearPoint() {
        this.location = this.$refs.myMapRef.currentCenter
        // console.log('https://entreprise.data.gouv.fr/api/sirene/v1/near_point/?lat='+this.location.lat+'&long='+this.location.lng+'&activite_principale=5510Z&per_page=100')
        axios.get('https://entreprise.data.gouv.fr/api/sirene/v1/near_point/?lat='+this.location.lat+'&long='+this.location.lng+'&activite_principale=5510Z&per_page=100')
            .then(response => {
                this.hotels = [];
                this.hotels.push(response.data.etablissements)
                // console.log(this.hotels)
            })       
    }
  }
}
</script>

<style scoped>

</style>
