<template>
  <div class="my-map">
    <l-map
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      style="height: 100%"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <v-geosearch class="search-bar" :options="geosearchOptions" ></v-geosearch>
      <l-circle-marker
        :lat-lng="currentCenter"
        :radius="radius"
        :color="color"
      />
      <div v-for="hotel in this.mHotels">
      <l-marker :lat-lng="[hotel.latitude, hotel.longitude]">
        <l-popup>
          <div>
            <div><strong>{{hotel.l1_declaree}}</strong></div>
            <div>{{hotel.distance}} km</div>
          </div>
          <hr/>
          <div>{{hotel.geo_adresse}}</div>
        </l-popup>
      </l-marker>
      </div>
    </l-map>
  </div>
</template>

<script>
import { latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup, LTooltip, LCircleMarker } from "vue2-leaflet";
import { OpenStreetMapProvider } from 'leaflet-geosearch';
import VGeosearch from 'vue2-leaflet-geosearch';

export default {
  name: "Map",
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LTooltip,
    LCircleMarker,

    VGeosearch
  },
  data() {
    return {
      zoom: 12.9,
      center: latLng(47.219037, -1.56053),
      radius: 5,
      color: 'red',
      currentCenter: '',
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      mapOptions: {
        zoomSnap: 0.5
      },
      geosearchOptions: {
        provider: new OpenStreetMapProvider()
      },
      mHotels: []
    };
  },
  beforeMount() {
    this.currentCenter = this.center;
  },
  mounted() {
    this.$root.$on('center-event', () => {
        this.mHotels = this.$parent.hotels[0]
        // console.log('location: ['+this.mHotels[0].latitude+' / '+this.mHotels[0].longitude+']')
    })
  },
  methods: {
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
      this.$root.$emit('center-event')
    },
    formatLocation(lat, lng) {
      return latLng(lat, lng)
    }
  }
};
</script>

<style scoped>
  .my-map {
    height: 97vh;
  }
  .leaflet-control-geosearch.active form {
    position: absolute;
    left: 50px;
    }
</style>
